body {
	font-family: "Poppins";
    *, *::before, *::after {
        line-height: var(--lh);
    }
    // background-color: grey;
}

.container {
    width: min(100% - 30px, 1650px);
    margin-inline: auto;
}

.h1-like {
    color: hsl(var(--clr-cyan-60));
    font-size: var(--fz-70);
    font-weight: var(--fw-800);
}

.h2-like {
    color: hsl(var(--clr-cyan-60));
    font-size: var(--fz-40);
    font-weight: var(--fw-700);
}