@use "alias/mixins" as *;

//375px
@include breakpoint-up(xxsmall) { // Up /\
}

//480px
@include breakpoint-up(xsmall) { // Up /\ 
}

//576px
@include breakpoint-up(small) { // Up /\ 
    .mission {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content;
        justify-items: start;
        gap: 25px 15px;
    
        &__title {
            text-align: start;
        }
        
        &__text {
            text-align: justify;
            grid-column: 1/3;
            grid-row: 2/3;
        }
    
        &__preview {
            grid-column: 1/2;
            grid-row: 1/2;
            min-width: 250px;
        }
    }

    .projects {
        &__item {
            grid-template-columns: 1fr 1fr;
            max-width: 450px;
            &:nth-child(even) {
                .project {
                    &__preview {
                        order: -1;
                    }
                }
            }
        }
    }

    .review {
        &__block {
            grid-template-columns: 1fr 2fr;
        }
        &__inner {
            padding: 35px;
        }

        &__comment {
            &::before {
                left: -1.5em;
            }
        }
        &__preview {
            aspect-ratio: unset;
        }
    }

    .clients {
        grid-template-columns: 1fr 1fr;
    }
    
    .contact {
        grid-template-columns: 1fr 2fr;

        &__info {
            grid-template-rows: min-content min-content;
            text-align: start;
            gap: 0;
        }

        &__subtitle {
            --bottom: -40px;
            --marg-center: 0;
            justify-self: start;
        }
    }

    .form {
        &__switch {
            text-align: start;
        }
        &__btn {
            justify-self: end;
        }
    }
}

//768px
@include breakpoint-up(medium) { // Up /\
    .nav {
        &__btn {
            max-width: 270px;
        }
    }

    .projects {
        &__title {
            margin-bottom: 0;
        }
        &__list {
            gap: 25px;
        }
        &__item {
            max-width: 600px;
        }
    }

    .review {
        gap: 50px;
        &__inner {
            padding: 30px 40px 30px 60px;
        }

        &__comment {
            text-align: start;
        }
    }


    .clients {
        grid-template-columns: repeat(4, auto);
        justify-content: space-evenly;
    }

    .form {
        padding: 35px 50px;
    }
}

//992px
@include breakpoint-up(large) { // Up /\

    .header {
        position: relative;
        padding: 85px 0 15px;
    }

    .nav {
        position: static;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
        padding: 0;
        width: 100%;
        opacity: 1;
        transform: translateY(0);
        box-shadow: none;
        transition: none;
        
        &__list {
            display: grid;
            grid-template-columns: repeat(4, max-content);
            justify-self: center;
            align-items: center;
            gap: 45px;
            height: 100%;
        }

        &__btn {
            justify-self: end;
        }
    }

    .main {
        gap: 120px;
    }

    .hero {
        grid-template-columns: auto 1fr;
        grid-template-rows: none;

        &__wrap {
            justify-self: start;
            justify-items: start;
            gap: 50px;
        }

        &__title {
            text-align: start;
        }

        &__text {
            text-align: start;
        }

        &__preview {
            order: unset;
            width: 100%;
            min-width: 300px;
        }
    }

    .intro {
        &__title {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 30px;
        }

        &__wrap {
            grid-template-columns: 65% 35%;
            grid-template-rows: 350px;
        }

        &__preview {
            justify-items: start;
            padding: 2.5em 5em;
        }

        &__text {
            text-align: start;
        }

        &__link {
            order: unset;
            padding: unset;

            &::before,
            &::after {
                left: -5.5em;
            }

            &::before {
                width: 3em;
                box-shadow: 0px 0px 0px .5em hsla(var(--clr-neutral-1), .4);
            }

            &::after {
                width: 1.5em;
                border-width: .75em;
                border-left-width: 1.25em;
                transform: translateX(1em);
            }
        }

        &__video {
            aspect-ratio: unset;
        }
    }

    .mission {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        align-items: center;
        gap: 50px;
        margin-inline: unset;
        
        &__text {
            align-self: flex-start;
            text-align: start;
            grid-column: 2/3;
            grid-row: 2/3;
        }
    
        &__preview {
            align-self: flex-start;
            grid-column: 1/2;
            grid-row: 1/3;
            min-width: 250px;
        }
    }

    .projects {
        &__subtitle {
            margin-bottom: 160px;
            &.underline {
                --bottom: -50px;
            }
        }
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__item {
            grid-template-columns: 1fr;
            max-width: 450px;
            gap: 15px;
        }
    }

    .project {
        &__preview {
            align-self: flex-end;
        }
    }

    .review {
        &__inner {
            padding: 50px 100px;
        }
    }

    .stats {
        grid-template-columns: min-content 170px 205px;
        justify-content: space-between;
        gap: 25px;
        
        &__stat {
            grid-template-columns: unset;
            grid-template-rows: min-content min-content;
        }

        &__numb {
            text-align: start;
        }
    }

    .burger {
         display: none;
    } 

    .btn {
        &--sharp {
            border-bottom-left-radius: 0;
        }
    }
}

//1200px
@include breakpoint-up(xlarge) { // Up /\
    .header {
        .nav {
            &__list {
                gap: 85px;
            }
        }

        .logo {
            width: 160px;
        }
    }

    .hero {
        &__preview {
            align-self: center;
        }
    }
}

//1400px
@include breakpoint-up(xxlarge) { // Up /\
    .review {
        &__inner {
            gap: 50px;
            padding: 50px 70px 70px 110px;
        }
        &__preview {
            aspect-ratio: 615/700;
        }
    }
}