@use "alias/mixins" as *;

//375px
@include breakpoint-up(small) { // Up /\
}

//480px
@include breakpoint-up(xxsmall) { // Up /\ 
}

//576px
@include breakpoint-up(xsmall) { // Up /\ 
}

//768px
@include breakpoint-up(medium) { // Up /\
    .nav {
        &__btn {
            max-width: 270px;
        }
    }
}

//992px
@include breakpoint-up(large) { // Up /\

    .header {
        padding: 85px 0 15px;
    }

    .nav {
        position: static;
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: 1fr;
        padding: 0;
        width: 100%;
        opacity: 1;
        transform: translateY(0);
        box-shadow: none;
        transition: none;
        
        &__list {
            display: grid;
            grid-template-columns: repeat(4, max-content);
            justify-self: center;
            align-items: center;
            gap: 45px;
            height: 100%;
        }

        &__btn {
            justify-self: end;
            width: 270px;
        }
    }

    .main {
        gap: 120px;
    }

    .hero {
        grid-template-columns: auto 1fr;
        grid-template-rows: none;

        &__wrap {
            justify-self: start;
            justify-items: start;
            gap: 50px;
        }

        &__title {
            text-align: start;
        }

        &__text {
            text-align: start;
        }

        &__preview {
            order: unset;
            width: 100%;
            min-width: 300px;
        }
    }

    .intro {
        &__wrap {
            grid-template-columns: 65% 35%;
            grid-template-rows: 350px;
        }

        &__preview {
            justify-items: start;
            padding: 2.5em 5em;
        }

        &__text {
            text-align: start;
        }

        &__link {
            order: unset;
            padding: unset;

            &::before,
            &::after {
                left: -5.5em;
            }

            &::before {
                width: 3em;
                box-shadow: 0px 0px 0px .5em hsla(var(--clr-neutral-1), .4);
            }

            &::after {
                width: 1.5em;
                border-width: .75em;
                border-left-width: 1.25em;
                transform: translateX(1em);
            }
        }

        &__video {
            aspect-ratio: unset;
        }
    }

    .burger {
         display: none;
    } 

    .btn {
        &--sharp {
            border-bottom-left-radius: 0;
        }
    }
}

//1200px
@include breakpoint-up(xlarge) { // Up /\
    .header {
        .nav {
            &__list {
                gap: 85px;
            }
        }

        .logo {
            width: 160px;
        }
    }

    .hero {
        &__preview {
            align-self: center;
        }
    }
}

//1400px
@include breakpoint-up(xxlarge) { // Up /\
    
}