.btn {
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
    width: 100%;
    max-width: 270px;
    text-transform: capitalize;
    color: hsl(var(--clr-neutral-1));
    font-size: var(--fz-25);
    background-color: hsl(var(--clr-cyan-20));
    border-radius: 15px;

    &--sharp {
        border-bottom-left-radius: 0;
    }
}