.underline {
    position: relative;
    --bottom: 0px;
    --marg-center: auto;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 135px;
        height: 5px;
        bottom: var(--bottom);
        left: 0;
        right: 0;
        margin-inline: var(--marg-center);
        background-color: hsl(var(--clr-cyan-20));
    }
    &::after {
        bottom: calc(var(--bottom) - 15px)
    }
}