html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #ccc;
  text-shadow: none;
}

[hidden] {
  display: none;
}

/* blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
} */
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

button,
input,
textarea,
input,
select {
  display: block;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.three-dot {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Poppins";
  background-color: grey;
}
body *, body *::before, body *::after {
  line-height: var(--lh);
}

.container {
  width: min(100% - 30px, 1650px);
  margin-inline: auto;
}

.h1-like {
  font-size: var(--fz-70);
  font-weight: var(--fw-800);
}

.h2-like {
  font-size: var(--fz-40);
  font-weight: var(--fw-700);
}

:root {
  --clr-neutral-1: 0, 0%, 100%;
  --clr-neutral-0: 0, 0%, 0%;
  --clr-cyan-10: 163, 55%, 87%;
  --clr-cyan-20: 177, 32%, 50%;
  --clr-cyan-30: 149, 19%, 35%;
  --clr-cyan-40: 177, 32%, 32%;
  --clr-cyan-50: 177, 2%, 25%;
  --clr-cyan-60: 177, 12%, 12%;
  --clr-gold-10: 44, 99%, 59%;
  --fz-16: 0.5rem;
  --fz-20: 0.875rem;
  --fz-25: 1rem;
  --fz-30: 1.25rem;
  --fz-40: 1.5rem;
  --fz-70: 2.5rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --lh: 1.25;
  --z-pit: -1;
  --z-bot: 10;
  --z-low: 20;
  --z-mid: 30;
  --z-high: 40;
  --z-top: 50;
}
@media (min-width: 30em) {
  :root {
    --fz-16: 0.5rem;
    --fz-20: 0.875rem;
    --fz-25: 1rem;
    --fz-30: 1.25rem;
    --fz-40: 1.5rem;
    --fz-70: 3rem;
  }
}
@media (min-width: 36em) {
  :root {
    --fz-16: 0.875rem;
    --fz-20: 1rem;
    --fz-25: 1.25rem;
    --fz-30: 1.5rem;
    --fz-40: 2rem;
    --fz-70: 3.5rem;
  }
}
@media (min-width: 48em) {
  :root {
    --fz-16: 1rem;
    --fz-20: 1.25rem;
    --fz-25: 1.5625rem;
    --fz-30: 1.875rem;
    --fz-40: 2.5rem;
    --fz-70: 4.375rem;
  }
}
@media (min-width: 48em) {
  :root {
    --lh: 1.5;
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 30px;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 4px;
  background-color: hsl(var(--clr-cyan-40));
  border-radius: 25px;
}
.burger::before {
  top: 5px;
}
.burger::after {
  bottom: 5px;
}
.burger span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 4px;
  background-color: hsl(var(--clr-cyan-40));
  border-radius: 25px;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 20px 20px;
  width: 100%;
  max-width: 270px;
  text-transform: capitalize;
  color: hsl(var(--clr-neutral-1));
  font-size: var(--fz-25);
  background-color: hsl(var(--clr-cyan-20));
  border-radius: 15px;
}
.btn--sharp {
  border-bottom-left-radius: 0;
}

.header {
  position: relative;
  background-color: hsl(var(--clr-neutral-1));
}
.header__wrap {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 80px;
  gap: 15px;
  z-index: var(--z-top);
}
.header .burger {
  margin-left: auto;
}
.header .logo {
  width: 120px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr min-content;
  align-items: center;
  text-align: center;
  gap: 30px;
  top: 80px;
  left: 0;
  right: 0;
  padding: 25px;
  margin: auto;
  height: fit-content;
  background-color: hsl(var(--clr-neutral-1));
  box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-200%);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
  z-index: var(--z-bot);
}
.nav.active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}
.nav__list {
  display: grid;
  gap: 15px;
}
.nav__link {
  position: relative;
  color: hsl(var(--clr-cyan-40));
  font-size: var(--fz-25);
  font-weight: var(--fw-400);
}
.nav__link::before {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 0;
  height: 0.2em;
  background-color: hsl(var(--clr-gold-10));
  border-radius: 20px;
}
.nav__link.active {
  font-weight: var(--fw-700);
}
.nav__link.active::before {
  width: 60%;
}
.nav__btn {
  margin-inline: auto;
}

.hero {
  display: grid;
  grid-template-rows: min-content 1fr;
}
.hero__preview {
  order: -1;
  position: relative;
  margin-inline: auto;
  min-width: 230px;
  width: 80%;
  max-width: 835px;
  aspect-ratio: 1/1;
  background-image: url("../img/svg/figures/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 62em) {
  .header {
    padding: 85px 0;
  }
  .header .nav {
    position: static;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    padding: 0;
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    box-shadow: none;
    transition: none;
  }
  .header .nav__list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-self: center;
    align-items: center;
    gap: 45px;
    height: 100%;
  }
  .header .nav__btn {
    justify-self: end;
    padding: 20px;
  }

  .hero {
    grid-template-columns: auto auto;
    grid-template-rows: none;
  }
  .hero__preview {
    order: unset;
  }

  .burger {
    display: none;
  }
}
@media (max-width: 61.9375em) {
  .hero__title {
    text-align: center;
  }

  .btn--sharp {
    border-bottom-left-radius: 15px;
  }
}
@media (min-width: 75em) {
  .header .nav__list {
    gap: 85px;
  }
  .header .logo {
    width: 160px;
  }
}