@use 'colors' as *;
@use 'font-style' as *;
@use 'mixins' as *;

$z-index: (
    pit: -1,
    bot: 10,
    low: 20,
    mid: 30,
    high: 40,
    top: 50,
);

:root {
    // Colors
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    // Font size
    @each $screen-size, $font-sizes in $font-size {
        @if $screen-size == xxsmall {
            @each $size, $value in $font-sizes {
                --fz-#{$size}: #{$value};
            }
        } @else if $screen-size == xsmall {
            @include breakpoint-up(xsmall) {
                @each $size, $value in $font-sizes {
                    --fz-#{$size}: #{$value};
                }
            }
        } @else if $screen-size == small {
            @include breakpoint-up(small) {
                @each $size, $value in $font-sizes {
                    --fz-#{$size}: #{$value};
                }
            }
        } @else {
            @include breakpoint-up(medium) {
                @each $size, $value in $font-sizes {
                    --fz-#{$size}: #{$value};
                }
            }
        }
    }

    // Font Weight
    @each $weight, $value in $font-weight {
        --fw-#{$weight}: #{$value};
    }

    // Line-height
    @each $screen-size, $value in $line-height {
        @if $screen-size == small {
            --lh: #{$value};
        } @else {
            @include breakpoint-up(medium) {
                --lh: #{$value};
            }
        }
    }

    // z-index
    @each $index, $height in $z-index {
        --z-#{$index}: #{$height};
    }

    --transition-time-short: .2s;
    --transition-time-long: .4s;
    --transition-timing-f: ease-in-out;

}