.hero {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    gap: 25px;
    padding: 20px 0;

    &__wrap {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        justify-items: center;
        gap: 25px;
    }

    &__title {
        text-align: center;
    }

    &__text {
        text-align: justify;
        max-width: 750px;
        color: hsl(var(--clr-cyan-50));
        font-size: var(--fz-30);
    }

    &__btn {
    }

    &__preview {
        order: -1;
        position: relative;
        align-self: flex-start;
        min-width: 180px;
        width: 80%;
        max-width: 835px;
        aspect-ratio: 1/1;
        background-image: url("../img/svg/figures/blob.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 80%;
        object-fit: contain;
        object-position: center;
    }
}