.hero {

    &__wrap {
    }

    &__title {
    }

    &__text {
    }

    &__cta {
    }

    &__preview {
        position: relative;
        margin-inline: auto;
        width: 80%;
        max-width: 835px;
        aspect-ratio: 1/1;
        background-image: url("../img/svg/figures/blob.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        height: 90%;
        object-fit: contain;
        object-position: center;
    }
}