.intro {
    &__title {
        text-align: center;
        margin-bottom: 5px;
        color: hsl(var(--clr-cyan-60));
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 15px;
        color: hsl(var(--clr-cyan-50));
        font-size: var(--fz-30);
    }

    &__wrap {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        background-color: hsl(var(--clr-cyan-10));
        border-radius: 10px;
        overflow: hidden;
    }
    
    &__preview {
        display: grid;
        grid-template-rows: min-content auto;
        justify-items: center;
        gap: 15px;
        padding: 20px;
    }

    &__text {
        text-align: center;
        color: hsl(var(--clr-cyan-30));
        font-size: var(--fz-20);
        font-weight: var(--fw-500);
    }

    &__link {
        order: -1;
        position: relative;
        align-self: center;
        padding-right: 2em;
        text-transform: uppercase;
        color: hsl(var(--clr-cyan-30));
        font-size: var(--fz-20);
        font-weight: var(--fw-700);
        letter-spacing: .2em;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin-block: auto;
        }

        &::before {
            width: 1.5em;
            aspect-ratio: 1/1;
            background-color: hsl(var(--clr-neutral-1));
            box-shadow: 0px 0px 0px .2em hsla(var(--clr-neutral-1), .4);
            border-radius: 50%;
        }

        &::after {
            width: 1em;
            aspect-ratio: 1/1;
            border-left-width: .75em;
            border-left-color: hsl(var(--clr-gold-10));
            border-left-style: solid;
            border-top: .5em solid transparent;
            border-bottom: .5em solid transparent;
        }
    }

    &__video {
        order: -1;
        width: 100%;
        height: 100%;
        aspect-ratio: 3 / 1;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}