.nav {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: center;
    text-align: center;
    gap: 30px;
    top: 80px;
    left: 0;
    right: 0;
    padding: 25px;
    margin: auto;
    height: fit-content;
    background-color: hsl(var(--clr-neutral-1));
    box-shadow: 
        inset 0px 5px 5px -5px 
        rgba($color: #000000, $alpha: .5),
        0px 10px 15px 0px 
        rgba($color: #000000, $alpha: .2)
    ;

    opacity: 0;
    transform: translateX(-200%);
    transition: 
        opacity .4s ease-in,
        transform .4s ease-in
    ;

    z-index: var(--z-bot);
    
    &.active {
        opacity: 1;
        transform: translateX(0);
        transition: 
            opacity .4s ease-in,
            transform .4s ease-in
        ;
    }

    &__list {
        display: grid;
        gap: 25px;
    }

    &__link {
        position: relative;
        color: hsl(var(--clr-cyan-40));
        font-size: var(--fz-25);
        font-weight: var(--fw-400);

        &::before {
            content: '';
            position: absolute;
            bottom: -.2em;
            left: 0;
            right: 0;
            margin-inline: auto;
            width: 0;
            height: .2em;
            background-color: hsl(var(--clr-gold-10));
            border-radius: 20px;
        }

        &.active {
            font-weight: var(--fw-700);

            &::before {
                width: 60%;
            }
        }
    }

    &__btn {
        margin-inline: auto;
    }
}